@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);

body { 
	font-family: 'Droid Serif'; 
}

h1, h2, h3 {
	font-family: 'Yanone Kaffeesatz';
	font-weight: normal;
}

.remark-code, .remark-inline-code {
	font-size: 18px;
	font-family: Hack, monospace;
}

.remark-inline-code {
	padding: .2em;
	background: #e7e7e7;
	border-radius: 0.5rem;
}
